html, body
{
	min-height: 100%;
}

body
{
	color: #444;
	background-color: #eee;
	margin: 0;
	background-repeat: no-repeat;
}

header
{
	margin-top: -20px;
	min-height: 100%;
	background-color: #000;
	filter: drop-shadow(0px 0px 4px #000);
}

@media only screen and (max-width: 1199px)
{
	header
	{
		background-image: linear-gradient(150deg, rgba(130, 216, 192, 0), rgba(130, 216, 192, .25) 75%);
	}
}

@media only screen and (min-width : 1200px) 
{
	header
	{
		background: url(../img/uss.webp) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

h1
{
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 40px;
	color: #1d2127;
	text-shadow: 0px 0px 3px #fff;
	letter-spacing: 10px;
}

.sub h1
{
	color: #fff;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.sub p
{
	color: #eee;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h2
{
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 24px;
	color: #1d2127;
	text-shadow: 0px 0px 3px #fff;
	letter-spacing: 10px;
}

h3
{
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 20px;
	color: #1d2127;
	text-shadow: 0px 0px 3px #fff;
}

h3 a
{
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 20px;
	color: #1d2127;
	text-shadow: 0px 0px 3px #fff;
}

h3 a:visited
{
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 20px;
	color: #1d2127;
	text-shadow: 0px 0px 3px #fff;
}

p
{
	font-family: sans-serif;
	font-size: 18px;
}


.container
{
	width: 640px;
	margin: auto;
	display: grid;
	align-items: center;
}

.vertcontainer
{
	width: 640px;
	margin: auto;
	align-items: center;
}

header div.container
{
	height: 350px;
}

.sub
{
	text-align: center;
}

#info p
{

}

#infodiv1
{
	text-align: center;
	width: 100%;
	margin-top: 25px;
}

#infodiv2 h1, #infodiv3 h1, #infodiv4 h1
{
	font-size: 32px;
}

.profilepic
{
	border-radius: 50%;
	filter: drop-shadow(0 0 20px #364e47);
}

.gentleborder
{
	border-radius: 5%;
	filter: drop-shadow(0 0 20px #364e47);
}

hr
{
	color: rgb(128, 128, 128, 0.5);
}

.pressdiv
{
	background: rgba(178, 178, 178, 0.5);
	background-image: linear-gradient(150deg, rgba(130, 216, 192, 0), rgba(130, 216, 192, .25) 75%);
	margin: auto;
	display: block;
	border: solid 1px #CCC;
	border-radius: 10px;
	padding: 10px;
	height: 100px;
}

.copyboxdiv
{
	background: rgba(178, 178, 178, 0.5);
	background-image: linear-gradient(150deg, rgba(130, 216, 192, 0), rgba(130, 216, 192, .25) 75%);
	margin: auto;
	display: block;
	border: solid 1px #CCC;
	border-radius: 10px;
	padding: 10px;
}

.pressthumb
{
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	filter: drop-shadow(0 0 1px #364e47);
}


.headlinediv
{
	display: inline-block;
	vertical-align: middle;
	max-width: 475px;
}

.headlinediv h3
{
	padding: 0;
	margin: 0;
}

.headlinediv p
{
	padding: 0;
	margin: 0;
	color: #333;
}

#cdlhdashboard, #flsample
{
	margin-top:25px;
	margin-bottom:25px;
}
